.env 
.envrc

.DS_Store
tmux/plugins/
raycast
fzf
history.txt

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

**/lazy-lock.json
nvim/.config/nvim/lua/plugins/logfile
nvim/.config/nvim/lsp-local.lua

.nvimlog

CLAUDE.md
